/* html {
  height: auto;
  overflow: hidden;
}

body {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
} */

.scrollable-element {
  margin-top: 10px;
  border: 4px solid green;
  overflow-y: scroll;
  height: 80vh;
  font-size: 6.25rem;
}